.nav {
  padding: 25px 100px 25px 0px;
  background-color: #b3b3f2;
}

.logoutHandle {
  font-weight: bold;
  padding-top: 10px;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  margin: -20px;
  padding: 0;
  display: flex;
  align-items: center;
  float: right;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #f3cafb;
}